c_exercise14
c_exercise13
c_exercise12
c_exercise11
c_exercise10
c_exercise9
c_exercise8
c_exercise7
c_exercise6
c_exercise5
c_exercise4
c_ercercise3
c_exercise2
c_exercise1
c_structures
c_union
c_pointersArithmatic_Array
void_pointers
null_pointer
define_include
more_preprocessor
file_io
myfile.txt
.vscode